.spinner-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Spinner Circle Rotation */
.spinner {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid darken(#e3e3e3, 10);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
